* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #8A716A;
  /* border-radius: 50px; */
}

::-webkit-scrollbar-thumb {
  background: #9F8C85;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

header {
  height: 150px;
  line-height: 150px;
  background: #736F72;
  text-align: center;
  padding: 20px;
  color: #E9E3E6;
  font-style: italic;
  border-radius: 5px 5px 0 0;
  margin: 10px;
  margin-bottom: 0;
}

nav {
  position: sticky;
  margin-top: 0;
  top: 0;
  left: 0;
}

#Menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #B2B2B2;
  border-radius: 0 0 5px 5px;
  margin: 10px;
  margin-top: 0;
  box-shadow: 0 1px 1px 1px #888888;

}

#Menu li {
  float: left;
}

#Menu a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

#Menu li:first-of-type{
  background: #E9E3E6;
  text-decoration: underline;
  font-weight: bold;
}

#Menu a:first-of-type {
  color: #6e6459;
}

#Menu a:hover {
  background: #E9E3E6;
  color: #6e6459;
  transition: 0.6s;
}

#Menu a:not(:hover) {
  transition: 0.6s;
}

.Top {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid silver;
  background: #C2B8B2;
  border-radius: 5px;
  margin: 10px;
  margin-top: 0;
}

section {
  width: 80%;
  background-image: url(https://media.architecturaldigest.com/photos/5eac5fa22105f13b72dede45/3:2/w_1599,h_1066,c_limit/111LexowAve_Aug18-1074.jpg);
  border-radius: 0 10px 10px 0;
  border-radius: 5px;
}

#Title {
  margin: 80px;
  font-size: 100px;
  color: white;
}

aside {
  width: 20%;
  background: #C2B8B2;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #8A716A;
  transition: 0.6s;
}

.container:hover {
  box-shadow: 5px 5px 5px 5px #888888;
}

.no1 {
  flex: 30%;
  background: #C2B8B2;
  border-radius: 5px 0 0 5px;
}

.no1 img {
  width: 100%;
  /* height: 100%; */
  border-radius: 5px 0 0 5px;
}

.no2 {
  flex: 70%;
  background: #A6958E;
  border-radius: 0 5px 5px 0;
}

.no2 p {
  margin: 50px;
}

@media (max-width: 600px) {
  .no1, .no2 {
    flex: 100%;
  }
  .no1 {
    border-radius: 5px 5px 0 0;
  }
  .no1 img {
    border-radius: 5px 5px 0 0;
  }
  .no2 {
    border-radius: 0 0 5px 5px;
  }
  #Title {
    font-size: 50px;
  }
  header {
    font-size: 10px;
  }
  #Menu a {
    font-size: 10px;
  }
  #Menu li {
    float: none;
  }
  nav {
    position: static;

  }
}

.footer {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 20px;
  background: #736F72;
}

.footer p {
  margin-left: 20px;
  font-size: 10px;
  line-height: 20px;
  color: #E9E3E6;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
